@font-face {
  font-family: "BebasNeue-Regular";
  font-display: swap;
  src: url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}