extends ../layouts/base

append vars
	- title = 'Main page';

block content
	<div class="swiper js-slider">
	<div class="swiper-wrapper">
	<div class="swiper-slide">Slide 1</div>
	<div class="swiper-slide">Slide 2</div>
	<div class="swiper-slide">Slide 3</div>
	</div>
	<div class="swiper-pagination"></div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

	<div class="swiper-scrollbar"></div>
	</div>